<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b4b8c5">  <td>21/09/26 13:54:08</td>   <td>0</td> <td title="&gt;&gt;MainRunner.connection_initiate()[pri:0, instance:com.test.MainTest@39d9314d]">&gt;&gt;connection_initiate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@873993427</td>   <td></td> </tr>
<tr bgcolor="b3b079">  <td>21/09/26 13:54:14</td>   <td>6285</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainTest.orangehrm_login_adduser_test()[pri:0, instance:com.test.MainTest@39d9314d]">orangehrm_login_adduser_test</td> 
  <td>main@873993427</td>   <td></td> </tr>
<tr bgcolor="b4b8c5">  <td>21/09/26 13:54:31</td>   <td>23470</td> <td title="&lt;&lt;MainRunner.connection_terminate()[pri:0, instance:com.test.MainTest@39d9314d]">&lt;&lt;connection_terminate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@873993427</td>   <td></td> </tr>
</table>
